<footer>
  <div class="row">
    <div class="twelve columns">
      We Cook And We Eat &#169; <%= Time.now.year %><br />
      <%= link_to 'info@wecookandweeat.com', 'mailto:info@wecookandweeat.com' %>
    </div>
  </div>
</footer>
