<header>
  <div class="row">
    <div class="twelve columns">
      <%= link_to 'WE COOK AND WE EAT', '/', :class => 'site', :title => "We Cook And We Eat" %>
      <nav class="top-nav">
        <ul>
          <li <% if params[:controller] == 'posts' && params[:action] == 'index' %>class="current"<% end %>><a href="/">Home</a></li>
          <li <% if params[:controller] == 'posts' && (params[:action] == 'archive' || params[:action] == 'category') %>class="current"<% end %>><a href="/archive">Recipes</a></li>
          <li <% if params[:controller] == 'misc' && params[:action] == 'about_us' %>class="current"<% end %>><a href="/about-us">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
