<div id="about">

  <div class="summary">
    <div class="row">
      <div class="eight columns centered">
        <h1>About Us</h1>
        <p>We Cook and We Eat is run by a couple, Jon and Joanne. They met over a shared love for music, and at some point they decided to attempt the <a href="">Whole 30 Diet</a>. Upon completing this insane diet program, they were instilled with a new love/appreciation for food and health. This site is the product of their newfound passion!</p>
      </div>
    </div>
  </div>

  <div class="profiles">
    <div class="row">
      <div class="ten columns centered">
        <div class="row">

          <div class="six columns">
            <%= image_tag 'joanne.png' %>
            <h2>Joanne Shih</h2>
            <p>Joanne is a number crunching data analyst with a passion for food and design. She helped design this site, and is also responsible for most of the content. She spends most of her time discovering new Whole-30 recipes or browsing design blogs. She has always eaten fairly healthily, but completing Whole-30 really supercharged her passion and desire for interesting and nutritious foods. Fortunately for her, Jon was pretty willing to attempt that crazy diet. Because he was not willing...</p>
            <p>Joanne loves playing music, and with Jon they form <a href="http://embers-and-arias.tumblr.com">Embers and Arias</a>. You can visit the link to hear her sing and play violin! Follow them and compliment her voice :)</p>
          </div>

          <div class="six columns">
            <%= image_tag 'jon.png' %>
            <h2>Jonathan Lee</h2>
            <p>Jon is a food-eating web developer who coded this site up from scratch. He grew up as the unhealthiest eater you've ever known, but by some freak of genetics, he never suffered any negative effects of an unhealthy diet. Which was dangerous because it further encouraged his unhealthy lifestyle. Upon completing Whole-30, he discovered new levels of energy that he never knew existed, and his mood improved quite a bit (he's a very moody boy...). Now he loves to cook! Very weird.</p>
            <p>When he's not cooking, he is playing guitar, trying not to suck at singing, producing music, or working on a slew of other web development projects. Please, encourage him to spend less time programming and to spend more time on other aspects of life. He tends to have a one-track mind...</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
