<div id="about">

  <div class="summary">
    <div class="row">
      <div class="ten columns centered">
        <h1>About Us</h1>
        <p>Read about us here! Look how fascinating we are!</p>
      </div>
    </div>
  </div>

  <div class="profiles">
    <div class="row">
      <div class="ten columns centered">
        <div class="row">

          <div class="six columns">
            <img src="http://www.placehold.it/300x250" />
            <h2>Joanne Shih</h2>
            <p>a;sldkfja ;sdlka;alskdf;  a;slkjweo wwekf  owefokwdfok w lawdf; aw o;fawdf; aw;dl fadwf ;</p>
          </div>

          <div class="six columns">
            <img src="http://www.placehold.it/300x250" />
            <h2>Jonathan Lee</h2>
            <p>a;sldkfja ;sdlka;alskdf;  a;slkjweo wwekf  owefokwdfok w lawdf; aw o;fawdf; aw;dl fadwf ;</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
