<div id="about">

  <div class="summary">
    <div class="row">
      <div class="ten columns centered">
        <h1>About This Site</h1>
        <p>We Cook and We Eat is a Boston-based food blog that aims to spread a love for real foods (aka: unprocessed, pronounceable ingredients). While we're not <a href="http://balancedbites.com/2012/06/paleo-perfectionism.html">paleo perfectionists</a>, we enjoy eating paleo most of the time and then indulge a bit more when we go out to eat. So while most of the recipes you'll find here are considered strict paleo (no grains, dairy, legumes, or added sugar), we don't always eat that way and don't expect others to, either. Food police are not cool.</p>
        <p>We'll be continuing to roll out more features as our content grows, but feel free to email us at admin@wecookandweeat.com with any suggestions or comments!</p>

        <h2 style="margin-top: 20px;">About Us</h2>
        <p>We Cook and We Eat is run by a couple, Jon and Joanne, who have lived in the Boston/Cambridge area for a collective 15 years (Jon 8, Joanne 7). They met over a shared love for music, and at some point they decided to attempt the <a href="http://whole9life.com/2012/08/the-whole30-program/">Whole30 Program</a> and chronicled that <a href="http://food-trotting.tumblr.com">adventure</a>. Upon completing this 30-day rigorous nutritional reset program, they were instilled with a new love and appreciation for food and a healthy lifestyle. This site is the product of their newfound passion!</p>
      </div>
    </div>
  </div>

  <div class="profiles">
    <div class="row">
      <div class="ten columns centered">
        <div class="row">

          <div class="six columns">
            <%= image_tag 'joanne.png' %>
            <h2>Joanne Shih</h2>
            <p>Joanne is a number-crunching analyst (by day) and a singer of smooth tunes (by night), with a passion for food and artsy things (at all times). She helped design this site and writes most of the content. She spends a lot of her down time discovering new paleo-friendly recipes or browsing design blogs. She has always desired to eat more healthily, but it wasn't until completing Whole30 that she truly discovered a love for tasty foods that make one feel awesome.</p>

            <p>Joanne loves playing music, and so does Jon. With their powers combined... they form <a href="http://embers-and-arias.tumblr.com">Embers and Arias</a>. You can visit the link to hear her sing, play some guitar, and occasionally play violin, her first true love (instrument-wise).</p>
          </div>

          <div class="six columns">
            <%= image_tag 'jon.png' %>
            <h2>Jonathan Lee</h2>
            <p>Jon is a food-eating web developer who coded this site up from scratch. He grew up as quite the unhealthy eater, particularly around his college years, but by some miracle of genetics, he never suffered any real / alarming negative effects, at least on the outside. However, he was always prone to moodiness and energy slumps..  and allergies -- yet never thought those symptoms were tied to food. Upon completing Whole30, all three of those improved significantly. And he also loves to cook now! Very <span style="text-decoration: line-through;">weird</span> awesome.</p>

            <p>When Jon is not cooking (or washing dishes), he is playing guitar, singing with Joanne, producing music, or working on a slew of other web development projects. He dreams of one day owning his own music room, filled with drums, guitars, bass, keys, ukulele, and his trombone.</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
