/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// put global variables here!

@import "foundation_and_overrides.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400|Open+Sans:700|Dosis|Londrina+Shadow|Londrina+Outline|Arvo);
@import 'compass';

$line-color: #cdcdcd;
$splash-primary: #849826;
$splash-primary-2: #475920;

$splash-secondary: #ffe364;

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";
}
h1,h2,h3,h4 {
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica";
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  font-size: 46px;
  text-transform: none;
  margin: 0 0 20px;
  text-align: center;
  clear: both;
  a {
    color: #222;
  }
}

h2 {
  font-size: 35px;
  clear: both;
}
p {
  margin-bottom: 12px;
}
a {
  color: $splash-primary-2;
  &:hover {
    color: $splash-primary;
  }
}
ul {
  margin-left: 15px;
}

img {
  padding: 3px;
  border: 1px solid $line-color !important;
}
img.logo {
  padding: 0;
  border: none !important;
  a.show-for-small & {
    display: block;
    width: 70%;
    margin: -10px auto 30px;
  }
}

.container { padding: 30px 20px 0;}

header {
  padding: 15px 0;
  border-bottom: 1px dashed $line-color;
  nav.top-nav {
    ul {
      float: right;
      display: inline;
      margin: 0;
      li {
        display: inline;
        margin-left: 20px;
        &.current a {
          font-weight: bold;
          border-bottom: 2px solid $splash-primary;
          color: $splash-primary;
        }
      }
    }
  }
  a.site {
    float: left; 
    font-weight: bold; 
    color: #dcdcdc; 
    margin-top: 5px;
    &:hover {
      color: $splash-primary;
    }
  }
}

footer {
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px dashed $line-color;
  text-align: center;
}

.left-sidebar {
  ul.side-nav {
    border-top: 1px dashed $line-color;
    padding: 0;
    margin-top: 20px;
    li {
      text-align: center;
      margin: 0;
      border-bottom: 1px dashed $line-color;
      a {
        padding: 7px 0;
        &:hover {
          background: $splash-secondary;
          color: #222;
        }
      }
    }
  }
}

.right-sidebar {
  h3 {
    margin-top: 0;
  }
  img {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 20px;
  }
  li {
    line-height: 14px;
    padding-bottom: 5px;
  }
  .book {
    margin-bottom: 15px;
    clear: both;
    h4 {
      font-family: "Open Sans", "Helvetica Neue", "Helvetica";
      text-transform: none;
      font-size: 18px;
    }
    a {
      float: left;
      margin-right: 10px;
    }
    p.title {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
    }
    p.description {
      margin-top: -15px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    .btm-border {
      clear: both;
      border-bottom: 1px dashed $line-color;
    }
      
  }
}

/*
 * Home
 */

.posts {
  margin-top: 20px;
  clear: both;
  float: left;
}
.post {
  margin-bottom: 20px;
  img {
    width: 250px;
  }
  h2 {
    margin: 0 0 10px;
    font-size: 24px;
  }
}

.feature {
  img {
    margin-bottom: 10px;
  }
}

p.blurb {
  margin-bottom: 5px;
}

a.more {
  float: right;
  display:block;
  text-align: center;
  padding: 7px;
  background: $splash-primary;
  color: #fff;
  &:hover {
    background: $splash-secondary;
    color: #222;
  }
}


/*
 * Post
 */
.controls {
  a {
    padding: 8px;
    margin: 0 0 15px 0;
    color: #999;
    font-size: 12px;
    font-style: italic;
    &:hover {
      background: $splash-secondary;
      color: #222;
    }
    &.previous {
      float: left;
    }
    &.next {
      float: right;
    }
  }
}
.controls.top a {
  margin-bottom: 0;
}

.subheadline {
  color: #999;
  text-transform: uppercase;
  text-align: center;
  margin-top: -10px;
}

ul.categories {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    a {
      padding: 5px 10px;
      background: $splash-primary;
      margin: 0 5px;
      color: #fff;
      font-size: 12px;
      &:hover {
        background: $splash-secondary;
        color: #222;
      }
    }
  }
}

img.headline {
  margin-bottom: 20px;
}

.post-content {
  img {
    margin: 0 auto;
    display: block;
    &.small {
      width: 400px;
    }
  }
  figure {
    font-style: italic;
    margin: 10px 0 20px;
    display: block;
    text-align: center;
  }

}

/*
 * Comments
 */

#comments {
  border-top: 1px dashed $line-color;
  margin-bottom: 20px;
}

.comment {
  border-bottom: 1px dashed $line-color;
  padding: 15px 0;
  .headline {
    float: left;
    margin-bottom: 10px;
    .name {
      margin-right: 10px;
      &, & a {
        font-size: 16px;
        float: left;
        font-weight:bold;
        color: $splash-primary;
      }
    }
    .date {
      font-size: 10px;
      float: left;
      line-height: 20px;
    }
  }
  .content {
    clear: both;
  }
}

a.comment-delete {
  display: block;
  margin-top: 5px;
  color: red;
}

#comment-form {
  .validation-error ul {
    margin-left: 15px;
  }
  label {
    font-size: 12px;
  }
  textarea#comment_content {
    height: 100px;
  }
}


/*
 * Recipe and Restaurant Card
 */

.recipe, .restaurant {
  background: #ededed;
  padding: 15px 20px 5px;
  margin-bottom: 20px;
  h2 {
    font-size: 30px;
    margin-top: 0;
    // font-family: "Londrina Outline"
  }
  h3 {
    font-size: 20px;
    text-transform: none;
    // font-family: "Londrina Outline"
  }
  ul, ol {
    margin-left: 30px;
  }
  li {
    list-style-position: outside;
  }
}

.recipe {
  .stats {
    font-size: 14px;
    margin: -5px 0 0 0;
  }
  .attribution {
  }
}

.restaurant {
  h2 {
    border-bottom: 1px dashed $line-color;
    padding-bottom: 5px;
  }
  h3 {
    margin: 0 0 5px 0;
  }
  p.description {
    border-top: 1px dashed $line-color;
    padding-top: 10px;
  }
}


/*
 * Archive
 */

.archive {
  ul {
    margin-left: 15px;
  }
  h2 {
    font-size: 30px;
    a {
      color: #222;
    }
  }
}

.category {
  li {
    text-align: center;
  }

  a.back {
    display: block;
    text-align: center;
    margin: -10px 0 20px;
    text-transform: uppercase;
  }
}

/*
 * About Us
 */

#about {
  text-align: center;

  .summary {
    margin-bottom: 10px;
  }
  .profiles {
    h2 {
      font-size: 24px;
      text-align: center;
    }
    p {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  /* Small Device Styles here */
  .post {
    h2, .image { 
      text-align: center;
    }
    img {
      margin-bottom: 10px;
    }
  }
  a.more {
    float: none;
    margin: 0 auto;
    width: 100px;
  }
}

