<!DOCTYPE html>
<html>
  <%= render :partial => 'misc/head' %>

  <body>
    <%= render :partial => 'misc/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render :partial => 'misc/footer' %>

  </body>
</html>
